h1,h2,h3,h4,h5,h6{
    font-size: 1rem;
}

h1, .h1-content{
    margin-left: 0;
}
h2, .h2-content{
    margin-left: 2rem;
}
h3, .h3-content{
    margin-left: 4rem;
}
h4, .h4-content{
    margin-left: 6rem;
}
h5, .h5-content{
    margin-left: 8rem;
}
h6, .h6-content{
    margin-left: 10rem;
}

html{
    padding-bottom: 100vh;
}