.wiki-page h1, .wiki-page .h1-content,
.wiki-page h2, .wiki-page .h2-content,
.wiki-page h3, .wiki-page .h3-content,
.wiki-page h4, .wiki-page .h4-content,
.wiki-page h5, .wiki-page .h5-content,
.wiki-page h6, .wiki-page .h6-content
{
    font-size: 1rem;
    margin-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 1rem;
    border: none;
}

.wiki-page h1{
    font-weight: bolder;
}
.wiki-page h2,
.wiki-page h3{
    font-weight: bold;
}

html{
    padding-bottom: 100vh;
}