h1,h2,h3,h4,h5,h6{
    font-size: 1rem;
}
h1{
    margin-left: 0rem;
}
h2{
    margin-left: 2rem;
}
h3{
    margin-left: 4rem;
}
h4{
    margin-left: 6rem;
}
h5{
    margin-left: 8rem;
}
h6{
    margin-left: 10rem;
}

html{
    padding-bottom: 100vh;
}