ul {
    list-style: none;
    padding-left: 0;
}

.line-number{
    display: inline-block;
    text-align: right;
    width: 4em;
    color: #008200;
}

strong{
    font-weight: bold;
    color: red;
}

#content{
    padding-left: 1em;
}