.wiki-page h1, .wiki-page .h1-content,
.wiki-page h2, .wiki-page .h2-content,
.wiki-page h3, .wiki-page .h3-content,
.wiki-page h4, .wiki-page .h4-content,
.wiki-page h5, .wiki-page .h5-content,
.wiki-page h6, .wiki-page .h6-content
{
    font-size: 1rem;
    margin-left: 1rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: none;
}

.wiki-page h1:before,
.wiki-page h2:before,
.wiki-page h3:before,
.wiki-page h4:before,
.wiki-page h5:before,
.wiki-page h6:before{
    content: '* ';
}

.wiki-page h1{
    font-weight: bolder;
}
.wiki-page h2,
.wiki-page h3{
    font-weight: bold;
}


.wiki-page pre{
    margin-top: 0;
    margin-bottom: 0;
}

#tools{
    text-align: right;
}

code{
    font-family: 'andale mono', 'lucida console', monospace;
    font-size: 0.9em;
    background-color: #eee;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.underline{
    text-decoration: underline;
}
.deleted{
    text-decoration: line-through;
}

